*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{

height:100vh;

overflow:hidden;

font-family:'Poppins',sans-serif;

background:

linear-gradient(

to bottom,

#090B14,

#141C2D 30%,

#34120A 75%,

#180A02

);

color:#E7DEC9;

}







/* BACKGROUND */



.stars{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

pointer-events:none;



background-image:

radial-gradient(

rgba(255,255,255,.8) 1px,

transparent 1px

);



background-size:

45px 45px;



opacity:.4;



animation:

twinkle

4s

infinite

alternate;

}





@keyframes twinkle{



from{

opacity:.2;

}



to{

opacity:.6;

}



}








.shooting-stars::before,

.shooting-stars::after{



content:"";



position:absolute;



width:2px;



height:130px;



background:



linear-gradient(

white,

transparent

);



transform:

rotate(45deg);



opacity:.7;



animation:



shoot



8s



linear



infinite;



}



.shooting-stars::after{



left:65%;



animation-delay:4s;



}






@keyframes shoot{



0%{



top:-20%;



left:10%;



opacity:0;



}







10%{



opacity:1;



}







100%{



top:110%;



left:110%;



opacity:0;



}



}









/* START SCREEN */



#startScreen{



position:absolute;



width:100%;



height:100vh;



display:flex;



justify-content:center;



align-items:center;



text-align:center;



z-index:50;



}







.overlay{



position:absolute;



width:100%;



height:100%;



background:



rgba(

0,

0,

0,

0.45

);



backdrop-filter:



blur(5px);



}







.content{



position:relative;



z-index:10;



}







.content h3{



font-family:



'Caveat',



cursive;



font-size:



3rem;



color:



#C9A783;



}







.content h1{



font-family:



'Cinzel',



serif;



font-size:



6rem;



text-shadow:



0 0 40px



#5B050F;



}







.content p{



margin-top:



20px;



font-size:



1.2rem;



opacity:.85;



}







#startBtn{



margin-top:



40px;



padding:



18px



45px;



border:none;



border-radius:



50px;



cursor:pointer;



background:



#5B050F;



color:white;



font-size:



1.1rem;



transition:



.4s;



}







#startBtn:hover{



transform:



scale(1.08);



background:



#C9A783;



color:



#111;



}









/* MAIN SCREEN */



#mainScreen{



display:none;



position:absolute;



width:100%;



height:100vh;



}







#mainScreen h2{



position:absolute;



top:35px;



width:100%;



text-align:center;



font-family:



'Cinzel',



serif;



font-size:



2rem;



color:



#C9A783;



z-index:20;



}









/* SCOREBOARD */



#scoreboard{

display:none;

position:absolute;

bottom:35px;

left:50%;

transform:translateX(-50%);

padding:20px 35px;

border-radius:30px;

background:

rgba(

255,

255,

255,

0.08

);

backdrop-filter:

blur(15px);

z-index:30;

text-align:center;

min-width:340px;

}



.score-title{



font-size:1.3rem;



font-weight:600;



}



.score-result{



margin-top:15px;



}



.score-note{



margin-top:8px;



opacity:.8;



}









/* BALLS */



#ballContainer{



position:absolute;



width:100%;



height:100%;



}







.ball{



position:absolute;



width:145px;



height:145px;



cursor:pointer;



z-index:10;



transition:



transform .4s,



opacity .4s;



animation:



float



4s



ease-in-out



infinite;



}







.ball img{



width:100%;



height:100%;



object-fit:contain;



filter:



drop-shadow(

0 20px 40px

rgba(

0,

0,

0,

0.45

)

)



drop-shadow(

0 0 25px

rgba(

255,

255,

255,

0.18

)

);



}







.ball:hover{



transform:



scale(1.08);



}








.golden{



width:185px;



height:185px;



z-index:15;



}







.golden img{



filter:



drop-shadow(

0 0 45px

gold

)



drop-shadow(

0 0 100px

rgba(

255,

215,

0,

0.55

)

);





animation:



goldGlow



2s



infinite



alternate;



}







@keyframes float{



0%{



transform:



translateY(0)



rotate(-2deg);



}







50%{



transform:



translateY(-18px)



rotate(2deg);



}







100%{



transform:



translateY(0)



rotate(-2deg);



}



}








@keyframes goldGlow{



from{



transform:



scale(1);



}







to{



transform:



scale(1.07);



}



}









/* PHOTO AREA */



#photoArea{



position:absolute;



width:100%;



height:100%;



pointer-events:none;



}







.polaroid{



position:absolute;



width:240px;



background:



#E7DEC9;



padding:15px;



border-radius:15px;



box-shadow:



0 20px 60px



rgba(

0,

0,

0,

0.45

);



animation:



photoReveal



1s;



}







.polaroid img{

width:100%;

height:260px;

object-fit:cover;

border-radius:10px;

}




.polaroid p{



margin-top:15px;



text-align:center;



font-family:



'Caveat',



cursive;



font-size:1.9rem;



color:



#430C09;



}







@keyframes photoReveal{



0%{



opacity:0;



transform:



translateY(

100px

)



rotate(-15deg)



scale(.3);



}







100%{



opacity:1;



transform:



translateY(0)



rotate(0)



scale(1);



}



}









/* SECRET LETTER */



#secretLetter{



display:none;



position:fixed;



width:100%;



height:100%;



background:



rgba(

0,

0,

0,

0.75

);



justify-content:center;



align-items:center;



z-index:100;



}







.letter-card{



background:



#E7DEC9;



width:500px;



max-width:90%;



padding:45px;



border-radius:25px;



text-align:center;



color:



#430C09;



box-shadow:



0 20px 60px



rgba(

0,

0,

0,

0.5

);



}







.letter-card h2{



font-family:



'Caveat',



cursive;



font-size:3rem;



margin-bottom:25px;



}







.letter-card p{



line-height:2;



font-size:1.1rem;



}







#closeLetter{



margin-top:30px;



padding:



12px



35px;



border:none;



border-radius:30px;



background:



#5B050F;



color:white;



cursor:pointer;



}









/* FINAL SCREEN */



#finalScreen{



display:none;



position:absolute;



width:100%;



height:100vh;



justify-content:center;



align-items:center;



}







.final-card{



position:relative;



padding:50px;



border-radius:40px;



text-align:center;



background:



rgba(

255,

255,

255,

0.07

);



backdrop-filter:



blur(20px);



box-shadow:



0 0 80px



rgba(

255,

255,

255,

0.08

);



}







.final-bat{



position:absolute;



width:600px;



opacity:.9;



filter:



drop-shadow(

0 0 30px

rgba(

255,

215,

0,

0.3

)

);



}







.final-bat.left{

left:-520px;

top:50%;

transform:

translateY(-50%)

rotate(-28deg);

}







.final-bat.right{

right:-520px;

top:50%;

transform:

translateY(-50%)

rotate(28deg);

}







.moon-glow{



font-size:4rem;



margin-bottom:20px;



}







.final-photo{



width:220px;



height:220px;



border-radius:50%;



object-fit:cover;



border:



6px solid



#C9A783;



margin-bottom:25px;



}







.trophy{



font-size:5rem;



}







.final-card h3{



font-family:



'Cinzel',



serif;



letter-spacing:5px;



color:



#C9A783;



}







.final-card h1{



font-size:4rem;



margin:20px 0;



}







.qualities{



display:flex;



gap:20px;



justify-content:center;



flex-wrap:wrap;



margin:30px 0;



}







.qualities div{



padding:



15px



25px;



border-radius:30px;



background:



rgba(

255,

255,

255,

0.08

);



}







.hearts{



font-size:2rem;



margin-top:25px;



}









/* MUSIC */



#musicBtn{



position:fixed;



bottom:25px;



right:25px;



width:60px;



height:60px;



border:none;



border-radius:50%;



font-size:1.5rem;



cursor:pointer;



background:



rgba(

255,

255,

255,

0.1

);



backdrop-filter:



blur(10px);



color:white;



z-index:100;



}